<div ng-controller="MoviesCtrl" class="app-view movies-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Movies</h2>
                    </header>

                    <section>
                        <p>List of movies that we have crawled will come up here...</p>
                    </section>

                </article>
            </div>
        </div>
    </div>
</div>
